.remote-container{
    background-color: black;
    height: 700px;
    width: 400px;
    border-radius: 50px;
    margin: auto;
}


h2{
    text-align: center;
    color: white;
}

.buttons{
    text-align: center;
    margin-top: 100px;

}

.home-btn{
    width: 75px;
    height: 30px;
    border: 1px solid greenyellow;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.vol-btn{
    margin-right: 20px;
    margin-left: 25px;
    width: 75px;
    height: 30px;
    border: 1px solid cyan;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.arrow-btn{
    margin-right: 20px;
    margin-left: 25px;
    width: 75px;
    height: 30px;
    border: 1px solid rgb(217, 0, 255);
    border-radius: 10px;
    background-color: black;
    color: white;
}

.arrows-btn{
    margin-right: 20px;
    margin-left: 25px;
    width: 75px;
    height: 30px;
    border: 1px solid rgb(255, 0, 166);
    border-radius: 10px;
    background-color: black;
    color: white;
}

.control{
    width: 75px;
    height: 30px;
    border: 1px solid rgb(255, 47, 47);
    border-radius: 10px;
    background-color: black;
    color: white;
}

/* Apparition de la couleur quand on se pose sur le bouton*/

.home-btn:hover{
    background-color: greenyellow;
}

.vol-btn:hover{
    background-color: cyan;
}

.arrow-btn:hover{
    background-color: rgb(217, 0, 255);
}

.arrows-btn:hover{
    background-color: rgb(255, 0, 166);
}

.control:hover{
    background-color: red;
}