body {
    margin: 20%; /* Marge en pourcentage */
}

.container-md {

      background: black;
      border-radius:40px;
      text-align: center;
      color: white;
      padding: 20px;
      width: max-content;
      justify-content: center;
      align-items: center;
      
}


.btn {
    margin: 40px 15px 40px;
    padding: 10px 20px 10px;

}
