body {
    margin: 10%;
}

.container-md {
      background: black;
      border-radius:40px;
      color: white;
      padding: 30px;
      width: max-content;
      justify-content: center;
      position:relative;

}

.btn {
    margin: 40px 20px 40px;
    padding: 0px 20px 0px;

}



#connectButton {
    top: 0;
    left: 0;
}

#startBtn {   
    top: 0;
    left: 210px; 
}


